@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}



body {
    background-color: rgb(248, 244, 244);
    height: 90vh;
    
}

.content {
    display:block;
    
    width: 100%;
    height: 90vh;
}

.logo {
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 20%;
    margin-left: 10%;
    font-size: 25px;
    height: 70px;
    
}

.logo span {
    margin-left: 30px;
}

.logo h1 {
    color: #00bdbd;
    text-shadow: 4px 2px 10px #b1a5f5;

}

.log-in {
    display: flex;
    flex-direction: column;
    background-color: white;
    float: right;
    width: 400px;
    height: 350px;
    box-shadow: 0px 0px 8px 0px #888888;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-right: 10%;
}

/**.error-message {
    color: red;
    margin-bottom: 20px;
  
}**/

#username:focus, #password:focus, .input-set:focus {
    outline: none;
    border-color:#00bdbd ;
    box-shadow: 0px 0px 8px 0px #00bdbd;
}



#username, #password, .input-set {
    height: 50px;
    width: 350px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.5px solid gray;
    background-color: rgb(248, 244, 244);
    padding: 15px;
    margin-bottom: 10px;
    font: bold 100%;
}

.error-message {
    height: 50px;
    width: 350px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.5px solid rgb(219, 84, 84);
    background-color: #ffebe8;
    padding: 15px;
    margin-bottom: 10px;
    font: bold 100%;
    color: black;
    display: none;
}



#log-in:hover, #add-new-member:hover {
    cursor: pointer;
    background: #019999;
}

#log-in:active, #add-new-member:active {
    background: #00bdbd;
}
/*#614ae7*/
#log-in:checked, #add-new-member:checked {
    box-shadow: 0px 0px 8px 0px #00bdbd;
}



.forgot-password a:hover {
    text-decoration: underline;
}

#log-in, #add-new-member {
    height: 50px;
    width: 350px;
    
    border-radius: 5px;
    border: none;
    background-color: #00bdbd;
    color: white;
    font-size: large;
}



.forgot-password a {
    text-decoration: none;
    font-size: small;
    
}

/**index css**/



.index-header {
    display: flex;
    flex-direction: row;
    height: 20%;
    background-color: white;
    border-bottom: 1px solid rgb(226, 221, 221);
    width: 100%;
}

.index-logo {   
    margin-left: 100px;
    color: #00bdbd;
    text-shadow: 4px 2px 10px #b1a5f5;
}

.index-container {
    display:flex;
    flex-direction: row;
    height: 100%;
    width: 100%;    
}

.aside-container {
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    overflow-y: auto;
    
}

.index-header-username-container {
    display: none;
}

.index-username-container {
    align-self: center;
    margin-top: 20px;
    
}

.index-username-container span {
    color: rgb(194, 35, 48);
    text-align: center;
}


.main-container {
    width: 75%;
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.17) inset;
    background-color: rgb(248, 244, 244);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    overflow-y: auto;
     
}



#program-container {
    align-self: center;
}

.main-container h2 {
    margin-top: 40px;
    margin-left: 20px;
}

.index-main-section {
    width: 300px;
    height: 150px;
    background-color: white;
    margin-top: 60px;
    
    box-shadow: 0px 5px 19px 1px rgba(0,0,0,0.23);
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.index-main-section:hover {
    box-shadow: 0px 10px 19px 3px rgba(0,0,0,0.23);

}

.index-main-section-program {
    margin-top: 20px;
    justify-content: center;
    display: flex;
}

.addmember {
    width: 90%;
    margin-top: 10px;
    margin-bottom: 20px;
    align-self: center;
}

.newmembertitle{
    margin-bottom: 10px;
}

.viewmember {
    width:100%;
    height: auto;
    
    position: relative;
    
}
table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

tr:hover {
    background-color: #D6EEEE;
}

.viewmember-child1 {
   
    width:100%;
    
    position: relative;
    margin: 0 auto;
    height: 90%;
    margin-top: 10%;
}

.index-nav-aside {
    display: flex;
}

aside .index-nav-aside {
    justify-content: center;
    align-items: flex-start;
}

.index-nav-aside ul li a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.index-sign-out a {
    margin: 10px;
    text-decoration: none;
    color: black;
}

.index-sign-out a:hover {
    color: blue;
    text-decoration:underline;
    transition: ease-in 0.5s;
}

.index-nav-aside ul li div:hover {
    color: blue;
    text-decoration:none;
}


.index-nav-aside ul li div:hover {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.23);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s ease;
}

.index-nav-aside ul li div:focus {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.23);
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(248, 245, 245);
    color: red;
    outline: none;
    
}



.index-nav-aside ul li {
    margin: 20px 10px;
    list-style: none;
}

.index-nav-aside {
    margin-top: 40px;
   
}

.fa-dashboard, .fa-file, .fa-user, .fa-plus, .fa-eye, .fa-envelope {
    color: #00bdbd;
    margin: 10px;
}



.index-sign-out {
    align-self: center;
    margin-top: 30px;
}

.fa-sign-out {
    margin: 10px;
    color:rgb(22, 22, 22);
    justify-content: center;
}


footer {
    display: none;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.index-nav-footer {
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.index-nav-footer ul {
    display: flex;
    
}
.index-nav-footer ul li {
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80px;
    
}

.index-nav-footer ul li span, .index-nav-footer div span {
    font-size: 10px;
}



.index-nav-footer ul li div, .index-nav-footer .footer-signout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80px;
    
    
}

.index-nav-footer ul li div:hover, .index-nav-footer .footer-signout:hover {
    width: 80px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.23);
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    
}

.index-nav-footer ul li div:focus {
    width: 80px;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.23);
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    outline: none;
}
/* View member */



@media only screen and (max-width: 860px) {

    
    .content {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
            
    }

    .logo {
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-top: 2%;
    }

    .log-in {
        margin-right: 0;
        display: flex;
    
    width: 375px;
    height: 350px;
    
    
        
    }

    /**index css**/

    .index-header {
        height: 12%;
    }

    .index-header-username-container {
        align-self: center;
        margin-top: 10px;
        float: right;
        display: block;
        margin-left: 100px;
        text-align: center;
        font-size: 14px;
    }
    
    .index-header-username-container span {
        color: rgb(194, 35, 48);
        text-align: center;
    }

    .aside-container {
        display:none;
    }

    .main-container {
        width: 100%;
        height: 100%;
        
        
        
    }

    .input-set {
        height: 40px;
        width: 80%;
        font-size: 16px;
        border-radius: 5px;
        border: 0.5px solid gray;
        background-color: rgb(248, 244, 244);
        padding: 8px;
        margin-bottom: 8px;
        font: bold 100%;
    }

    #log-in, #add-new-member {
        height: 50px;
        width: 100%;
        
        border-radius: 5px;
        border: none;
        background-color: #00bdbd;
        color: white;
        font-size: large;
        margin-bottom: 15px;
    }

    #add-new-member {
        height: 50px;
        width: 80%;
        
        border-radius: 5px;
        border: none;
        background-color: #00bdbd;
        color: white;
        font-size: large;
        margin-bottom: 15px;
    }

    .addmember {
       width: 100%;
       height: 100%;
       
       margin-top: 0px;
       margin-bottom: 0px;
       overflow-y: auto;
    }
    
    .index-main-section {
        width: 300px;
        
        margin: auto;
        margin-top: 40px;
    }
    .index-container {
        display: flex;
        height: 76%;
        width: 100%;
        
        
    }
    .main-container h2 {
        text-align: center;
    }

    footer {
        display: flex;
        height: 12%;
    } 
    
    th, td {
        padding: 7px;
    }
    
    .viewmember-child1 {
        font-size: 13px;

    }
}

@media only screen and (max-width: 390px) {

    .index-header-username-container {
        align-self: center;
        margin-top: 2px;
        
        display: block;
        margin-left: 30px;
        
        font-size: 10px;
    }

    .index-logo {   
        margin-left: 40px;
        color: #00bdbd;
        text-shadow: 4px 2px 10px #b1a5f5;
    }

    .input-set {
        font-size: 14px;
    }

    
    th, td {
        padding: 4px;
    }
    
    .viewmember-child1 {
        font-size: 10px;

    }
}

input::-webkit-input-placeholder {
    color: rgb(124, 121, 121);
}
input:focus::-webkit-input-placeholder {
    color: rgb(190, 185, 185);
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: rgb(124, 121, 121);
}
input:focus:-moz-placeholder {
    color: rgb(190, 185, 185);
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: rgb(124, 121, 121);
}
input:focus::-moz-placeholder {
    color: rgb(190, 185, 185);
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: rgb(124, 121, 121);
}
input:focus:-ms-input-placeholder {
    color: rgb(190, 185, 185);
}